{% extends 'base.html.twig' %}

{% block body %}
    <div class="row container-home">
        <div class="col-lg-12 text-center">
            <h3>{{ 'gallery.source_title'|trans }}</h3>
            <p class="lead">{{ 'gallery.source_lead'|trans }}</p>
            <p>{{ 'gallery.source_content'|trans }}:</p>
            <code>bin/console app:fetch-gallery SOURCE-NAME</code>
        </div>
        <div class="col-lg-12 text-center">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">{{ 'common.lp'|trans }}</th>
                    <th scope="col">{{ 'gallery.source'|trans }}</th>
                    <th scope="col">{{ 'common.options'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% set lp = 1 %}
                {% for fetcher in galleryFetchers %}
                    <tr>
                        <th scope="row">{{ lp }}</th>
                        <td>{{ fetcher.name() }}</td>
                        <td><a href="{{ url('gallery-list', {'source': fetcher.name()}) }}" class="badge badge-primary">{{ 'gallery.link_list'|trans }}</a></td>
                        {% set lp = lp + 1 %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}