<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ 'common.description'|trans }}">
    <title>{{ 'common.title'|trans }}</title>

    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/main.css') }}" rel="stylesheet">
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">{{ 'common.title'|trans }}</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="{{ url('user-list') }}">{{ 'common.nav_user_list'|trans }}</a>
        <a class="p-2 text-dark" href="{{ url('gallery-source') }}">{{ 'common.nav_gallery_source_list'|trans }}</a>
        <a class="p-2 text-dark" href="{{ url('readme') }}">{{ 'common.nav_readme'|trans }}</a>
    </nav>
</div>

<div class="container-header px-3 py-3 pt-md-5 pb-md-4 mx-auto">
    {% block body %}{% endblock %}
</div>

<div class="container">
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                <img class="mb-2" src="https://getbootstrap.com/docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
                <small class="d-block mb-3 text-muted">&copy; 2019</small>
            </div>
        </div>
    </footer>
</div>
</body>
</html>
